.cms-content,
.cms-category-content,
.cms-page-list,
.cms-category-list {
  margin-bottom: 15px;
}

.cms-content a,
.cms-category-content a,
.cms-page-list a,
.cms-category-list a {
  color: #d70800;
}

.cms-content a:hover,
.cms-category-content a:hover,
.cms-page-list a:hover,
.cms-category-list a:hover {
  text-decoration: underline;
}

.kntkt {
  display: inline;
}
