
@import "theme_variables";
@import "vendor_variables";

#category-banner {
  margin-bottom: 15px;
}

#category-banner h1 {
    position: absolute;
    top: 70px;
    padding-left: 15px;
}

#category-description {
  margin-bottom: 25px;
}

.subcategory-title {
  margin: 0;
}

@media screen and (max-width: $screen-xs-max) {
    body#category.category-2 section#category-subcategories {
        display: none !important;
    }
}