#index #block_top_menu {
  padding-bottom: 0;
}

#block_top_menu {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: 749px) {
  #block_top_menu {
    padding-top: 0;
    padding-bottom: 0;
    bottom: 0;
  }
}
