$header-banner-bg: #2c2125;
$page-body-bg: #fff;
$page-content-bg: transparent;

body {
  background-color: $page-body-bg;
  &.content_only {
    background-color: $page-content-bg;
  }
}

#header-blocks {
  background-color: $page-content-bg;
  position: relative;

  @media (min-width: $screen-sm-min) {
    padding-top: 15px;
  }
}

#columns {
  position: relative;
  padding-bottom: 50px;
  padding-top: 15px;
  background-color: $page-content-bg;
  .breadcrumb{
  font-size: 13px;
  }
}

#header-banners {
  background-color: $header-banner-bg;
  // MFX - fix welcoming banner on top
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#header {
  .navbar {
    margin-bottom: 0;
    font-size: 12px;
  }
}

#header-blocks .center-block{
  margin-left: 0;
  @media screen and (max-width: $screen-xs) {
    margin-left: auto;
    margin-right: auto;
  }
}

.top_column_wrapper{
  background: #f4f4f4;
}

#top-nav {
  position: inherit;
}

#header-navbar-right-nav > li > a {
  padding: 15px 15px 0 0;
}

@media (max-width: $screen-xs-max) {
  #header-navbar {
    font-size: $font-size-large !important;
    .open .dropdown-menu {
      @include box-shadow(0 6px 12px rgba(0,0,0,.175));
    }
  }
}